# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indent With Tabs
indent_style = tab
indent_size = tab
tab_width = 4

# UTF-8
charset = utf-8


max_line_length = 99
continuation_indent_size = 8
indent_brace_style = 1TBS
curly_bracket_next_line = false
