**/_vendor/** linguist-vendored=true
**/docs/** linguist-documentation=true
themes/_vendor/* linguist-vendored
web-greeter/resources/js/_vendor/* linguist-vendored
web-greeter/resources/js/docs/* linguist-documentation

