[Desktop Entry]
Name=WebKit2 Greeter
Comment=WebKit2 Greeter
Exec=lightdm-webkit2-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm-webkit2-greeter
