{
	"plugins": [
		[
			"transform-es2015-spread",
			{
				"loose": true
			}
		],
		["transform-object-rest-spread"],
		["syntax-class-constructor-call"],
		["syntax-class-properties"],
		["transform-es2015-parameters"]
	]
}